*{
    margin: 0px, auto;
    padding: 0px;
}
#wrapper{
    padding: 10px;
}

form,table{
    margin-top: 20px;
}
input{
    margin: 5px;
}
ul, li{
    list-style: none;
}
.end{
    text-align: right;
}
#greeting{
    text-align: center;
    margin-bottom: 50px;
}
#upper{
    margin: 10px;
}

