<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Tweets</title>
</head>

<body>
    <div id="wrapper">
        <div id="nav">
            <a id="home" href="/tweets">
                <h1>Dojo Tweets</h1>
            </a>
            <a id="name">
                <h3>Welcome, {{user['first_name']}} {{user['last_name']}}</h3>
            </a>
            <a id="logout" href="/logout">Logout</a>
        </div>
        <div id="form">
            <form action="/tweets/{{tweet.id}}/update" method="post">
                <label>Edit Tweet:</label>
                <input type="text" style="height: 30px; width: 400px; margin-top: 5px;" name="body" value="{{tweet.body}}"></textarea>
                <input type="submit" value="Update">
                <a href="/tweets"><button>Cancel</button></a>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>

</html>