<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Dojo Tweets</title>
</head>

<body>
    <div id="wrapper">
        <div id="nav">
            <a id="home" href="/tweets">
                <h1>Dojo Tweets</h1>
            </a>
            <a id="users" href="/users">Users</a>
            <div id="name">
                <a href="/users/{{logged_user['id']}}"><h3>Welcome, {{logged_user['first_name']}} {{logged_user['last_name']}}</h3></a>            </div>
            <a id="logout" href="/logout">Logout</a>
        </div>
        <div id="main">
            <h1>Users</h1>
            <table id ="user_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
                        <td>{{user.email}}</td>
                        <td><a href="/users/{{user.id}}/follow">Follow</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>