*{ 
    margin: 0px;
    padding: 0px;
}

#wrapper{
width: 950px;
background-color: blanchedalmond;
margin: 0px auto;
padding: 20px;
}
#login, #registraion{
    min-height: 200px;
    padding: 10px;
    background-color: aliceblue;
    outline: double black 2px;
    text-align: center;
    margin: 100px;
}
.login-form{
    min-height: 100px;
    padding-top: 50px;
}
#header{
    min-height: 50px;
    outline: double black 2px;
    background-color: azure;
    margin-bottom: 20px;
    padding: 10px;
}
#logout-btn{
    margin-left: 700px;
}