<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <a id="home" href="/">Dojo Tweets</a>
        <!-- Make name a link to profile -->
        <a id="name">Welcome {{user['first_name']}} {{user['last_name']}}</a>
        <a id="logout" href="/logout">Logout</a>
    </div>
    <div id="tweet_form">
        <form action="/tweets/create" method="POST">
            <label for="tweet">Write a Tweet:</label>
            <input type="text-area" name="body">
            <input type="submit" value="Tweet!">
        </form>
    </div>
    <div id="feed">
        {% for tweet in tweets %}
        <p>{{tweet.first_name}} says: {{tweet.body}}</p>
        {% endfor %}
    </div>
</body>
</html>